.block_LoadingPage{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top:0;
  z-index: 55000;
  background-color: white;
  .block_animation_Loading{
    width:179px;
    height:179px;
    position: absolute;
    top: 30%;
    left:42%;
    border-radius:100%;
    background-color: #BAD6F8;
    display: flex;
    .block_anim1{
      width:30px;
      height:30px;
      position: absolute;
      top:45%;
      border-radius: 50%;
      background-color: #2C80FF;
      left:17%;
      transform-origin: 50%;
      animation: circle .5s alternate infinite ease;
      //animation: del_anim .5s alternate infinite ease;
    }
    .block_anim2{
      width:30px;
      height:30px;
      position: absolute;
      top:45%;
      border-radius: 50%;
      background-color: #2C80FF;
      left:42%;
      transform-origin: 50%;
      animation: circle2 .5s alternate infinite ease;
      animation-delay: .2s;
      //animation: del_anim .5s alternate infinite ease;
    }
    .block_anim3{
      width:30px;
      height:30px;
      position: absolute;
      top:45%;
      border-radius: 50%;
      background-color: #2C80FF;
      left:65%;
      transform-origin: 50%;
      animation: circle3 .5s alternate infinite ease;
      animation-delay: .4s;
      //animation: del_anim .5s alternate infinite ease;
    }

    @keyframes circle{
      0%{
        top:45%;
       }
      100%{
        top:35%;
      }
    }
    @keyframes circle2{
      0%{
        top:45%;
      }
      100%{
        top:35%;
      }
    }
    @keyframes circle3{
      0%{
        top:45%;
      }
      100%{
        top:35%;
      }
    }
    @keyframes del_anim{
      0%{

      }
      25%{
        top:25%
      }
      50%{
        top:45%;
      }
      75%{
        top:47%;
      }
      100%{
        top:47%;
        left:10%;

      }
    }
    @keyframes del_anim2{
      0%{

      }
      25%{
        top:25%
      }
      50%{
        top:45%;
      }
      75%{
        top:47%;
      }
      100%{
        top:47%;
        left:15%;

      }
    }
    @keyframes del_anim3{
      0%{

      }
      25%{
        top:25%
      }
      50%{
        top:45%;
      }
      75%{
        top:47%;
      }
      100%{
        top:47%;
        left:10%;
      }
    }


    .check_green1{
      width: 70px;
      height:20px;
      opacity:0;
      background-color:#44E02C;
      position: absolute;
      top:53.8%;
      left:14.5%;
      border-radius:10px;
      transform: rotate(45deg);
      animation: check1 .3s alternate 1 ease;
    }
    .check_green2{
      width: 110px;
      height:20px;
      opacity:0;
      position: absolute;
      top:45%;
      left:30%;
      border-radius: 10px;
      transform: rotate(-51deg);
      background-color: #44E02C;
      animation: check2 .3s alternate 1 ease;
    }
  }
  .block_text_LoadingPage{
    width:100%;
    position: absolute;
    bottom: 30%;
    font-size:64px ;
    line-height:75px ;
    font-weight:400 ;
    text-align: center;
  }
}