<li data-time="3">
    <img src="/img/sliders/indigo24Terminal.jpg">
</li>
<li data-time="3">
    <img src="/img/sliders/indigo24Terminal2.jpg">
</li>
<li data-time="3">
    <img src="/img/sliders/indigo24Terminal3.jpg">
</li>
